<form *ngIf="formReady" [formGroup]="form" class="grid justify-center form-container">

  @for (field of formFields; track $index) {
    @if (!field.hidden) {
      <div class="col-12 md:col-6 lg:col-4 flex flex-column gap-1 mb-3">
        @if (field.type === 'dropdown') {
          <span class="text-xs sm:text-sm md:text-base">{{ field.label }}</span>
         } @else {
           <label class="text-xs sm:text-sm md:text-base" [for]="field.name">{{ field.label }}</label>
        }

        <!-- Campo de texto -->
         @if (field.type === 'text') {
          <input
          pInputText
          [id]="field.name"
          aria-describedby="dni-help"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || ''"
          />
         }

         @if (field.type === 'email') {
          <input
          pInputText
          [type]="field.type"
          [id]="field.name"
          aria-describedby="dni-help"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || ''"
          />
         }

         @if (field.type === 'number') {

          <!-- Comprueba si es un formato moneda -->
           @switch (field.numberType) {
            @case ("decimal") {
              <p-inputNumber [minFractionDigits]="2" [maxFractionDigits]="2" [inputId]="field.name" [formControlName]="field.name" />
            }
            @case ("currency") {
              <p-inputNumber mode="currency" currency="EUR"  [inputId]="field.name" [formControlName]="field.name" />
            }
            @default {
              <p-inputNumber  [inputId]="field.name" [formControlName]="field.name" />
            }
           }
         }

         @if (field.type === 'dropdown') {
          <p-dropdown
            [inputId]="field.name"
            [showClear]="field.clear"
            class="estado-desplegable"
            [formControlName]="field.name"
            [options]="field.options || []"
            [placeholder]="field.placeholder || ''"
            />
         }

         @if (field.type === 'textarea') {
          <textarea
              rows="5"
              cols="30"
              maxlength="100"
              class="textarea"
              pInputTextarea
              [autoResize]="false"
              [formControlName]="field.name"
              >
          </textarea>
         }

         @if (field.type === 'boolean') {
          <p-checkbox
            class="ju"
            [inputId]="field.name"
            [formControlName]="field.name"
            [binary]="true"
            />
         }

         @if (field.type === 'date') {
          <p-calendar
            [inputId]="field.name"
            [formControlName]="field.name"
            [showIcon]="true"
            [iconDisplay]="'input'"
            appendTo="body"
            [placeholder]="field.placeholder || 'Seleccione fecha'"
            class="w-full">
            </p-calendar>
         }

         @if (field.type === 'password') {
          <p-password [inputId]="field.name" class="w-full" [formControlName]="field.name" [feedback]="false" />
         }

         @if (this.mode === 'edit' && field.showEnabledFieldButton) {
          <p-button
            (onClick)="enable(field.name)"
            icon="pi pi-unlock"
            severity="success"
            [rounded]="true"
            [text]="true"
          />
        }


         @if (form.get(field.name)?.touched && form.get(field.name)?.invalid) {
          <div class="text-red-600 text-sm mt-1">
            @if (form.get(field.name)?.errors?.['required']) {
              * Campo obligatorio
            }
            @if (form.get(field.name)?.errors?.['email']) {
              * Formato de correo inválido
            }
            @if (form.get(field.name)?.errors?.['minlength']) {
              * Mínimo de caracteres no cumplido
            }
            @if (form.get(field.name)?.errors?.['maxlength']) {
              * Máximo de caracteres excedido
            }
          </div>
        }


      </div>
    }
  }
</form>

