<form *ngIf="formReady" [formGroup]="form" class="grid justify-center form-container">

  @for (field of formFields; track $index) {
    @if (!field.hidden) {
      <div class="col-12 md:col-6 lg:col-4 flex flex-column gap-1 mb-3">
        @if (field.type === 'dropdown') {
          <span class="text-xs sm:text-sm md:text-base">{{ field.label }}</span>
         } @else {
           <label class="text-xs sm:text-sm md:text-base" [for]="field.name">{{ field.label }}</label>
        }

        <!-- Campo de texto -->
         @if (field.type === 'text') {
          <input
          pInputText
          [readOnly]="field.readonly || false"
          [id]="field.name"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || ''"
          />
         }

         @if (field.type === 'time') {
          <input [id]="field.name" type="time" pInputText [formControlName]="field.name" />
         }



         @if (field.type === 'email') {
          <input
          pInputText
          [type]="field.type"
          [id]="field.name"
          aria-describedby="dni-help"
          [formControlName]="field.name"
          [placeholder]="field.placeholder || ''"
          />
         }

         @if (field.type === 'number') {

          <!-- Comprueba si es un formato moneda -->
           @switch (field.numberType) {
            @case ("decimal") {
              <p-inputNumber [minFractionDigits]="2" [maxFractionDigits]="2" [inputId]="field.name" [formControlName]="field.name" />
            }
            @case ("currency") {
              <p-inputNumber mode="currency" currency="EUR"  [inputId]="field.name" [formControlName]="field.name" />
            }
            @default {
              <p-inputNumber  [inputId]="field.name" [formControlName]="field.name" />
            }
           }
         }

         @if (field.type === 'dropdown') {
          <p-dropdown
            [inputId]="field.name"
            [readonly]="field.readonly || false"
            [showClear]="field.clear"
            class="estado-desplegable"
            [formControlName]="field.name"
            [options]="field.options || []"
            [placeholder]="field.placeholder || ''"
            />
         }

         @if (field.type === 'autocomplete') {
          <p-autoComplete
            [formControlName]="field.name"
            [suggestions]="getFilteredSuggestions(field.name, field.suggestions || [])"
            (completeMethod)="filterAutocomplete($event, field)"
            (onSelect)="handleAutocompleteSelect($event, field)"
            [field]="field.optionLabel || 'label'"
            [dropdown]="field.dropdown ?? true"
            [placeholder]="field.placeholder || ''"
            [forceSelection]="field.forceSelection ?? true"
            [inputStyle]="{ 'width': '100%' }"
          />

          <!-- <p-autoComplete
            [formControlName]="field.name"
            [suggestions]="filteredAutocomplete[field.name]"
            (completeMethod)="onCompleteMethod($event, field.name)"
            (onSelect)="onAutoCompleteSelect($event, field.name)"
            [field]="'label'"
            [dropdown]="true"
            /> -->
          <!-- <p-autoComplete
            [formControlName]="field.name"
            [suggestions]="field.suggestions || []"
            (completeMethod)="field.completeMethod ? field.completeMethod($event) : null"
            [optionLabel]="field.optionLabel || 'name' "
            [dropdown]="true"
            [forceSelection]="true"
            [inputStyle]="{ 'width': '100%' }"
            /> -->

         }

         @if (field.type === 'textarea') {
          <textarea
              rows="5"
              cols="30"
              maxlength="9000"
              class="textarea"
              pInputTextarea
              [autoResize]="false"
              [formControlName]="field.name"
              >
          </textarea>
         }

         @if(field.type === 'fileUpload') {
          <div class="field">
            <div *ngIf="imgPreview" class="imgPreview">
              <img  [src]="imgPreview" alt="Foto de instructor" />
            </div>
            <p-fileUpload
              [name]="field.name.toString()"
              [url]="field.url || 'http://localhost:3000/api/files/instructor'"
              [accept]="field.accept || '*'"
              [maxFileSize]="field.maxFileSize || 1000000"
              [chooseLabel]="field.chooseLabel || 'Seleccionar'"
              [chooseIcon]="field.chooseIcon || 'pi pi-upload'"
              [mode]="field.mode || 'basic'"
              [multiple]="field.multiple || false"
              (onUpload)="handleFileUpload($event, field.name)"
              (onSelect)="handleFileSelect($event, field.name)"
              (onError)="handleUploadError($event)"
              [auto]="false"
              [showUploadButton]="true"
              [showCancelButton]="true">
            </p-fileUpload>
          </div>
         }

         @if (field.type === 'boolean') {
          <p-checkbox
            class="ju"
            [inputId]="field.name"
            [formControlName]="field.name"
            [binary]="true"
            />
         }

         @if (field.type === 'date') {
          <p-calendar
            [inputId]="field.name"
            [formControlName]="field.name"
            [showIcon]="true"
            [iconDisplay]="'input'"
            appendTo="body"
            [placeholder]="field.placeholder || 'Seleccione fecha'"
            class="w-full">
            </p-calendar>
         }

         @if (field.type === 'password') {
          <p-password [inputId]="field.name" class="w-full" [formControlName]="field.name" [feedback]="false" />
         }

         @if (this.mode === 'edit' && field.showEnabledFieldButton) {
          <p-button
            (onClick)="enable(field.name)"
            icon="pi pi-unlock"
            severity="success"
            [rounded]="true"
            [text]="true"
          />
        }


         @if (form.get(field.name)?.touched && form.get(field.name)?.invalid) {
          <div class="text-red-600 text-sm mt-1">
            @if (form.get(field.name)?.errors?.['required']) {
              <small class="text-red-500">
                Campo obligatorio
              </small>
            }
            @if (form.get(field.name)?.errors?.['email']) {
              <small class="text-red-500">
                Formato de correo inválido
              </small>
            }
            @if (form.get(field.name)?.errors?.['minlength']) {
              <small class="text-red-500">
                Mínimo de caracteres no cumplido
              </small>
            }
            @if (form.get(field.name)?.errors?.['maxlength']) {
              <small class="text-red-500">
                Máximo de caracteres excedido
              </small>
            }

            @if (!form.get(field.name)?.errors?.['minlength'] && form.get(field.name)?.errors?.['pattern']) {
              <small class="text-red-500">
                Debe incluir al menos una mayúscula, una minúscula, un número y un carácter especial.
              </small>
            }


            @if (form.get(field.name)?.errors?.['dniInvalido'] && !form.get(field.name)?.errors?.['required']) {
              <small class="text-red-500">
                Formato de dni invalido, introduzca un dni valido
              </small>
            }


            @if (form.get(field.name)?.errors?.['dniExiste']) {
              <small class="text-red-500">
                Ya existe un usuario con este DNI
              </small>
            }

          </div>
        }


      </div>
    }
  }


  <!-- <p-toast /> -->

</form>


