<main>
  <h1 class="text-sm  md:text-base lg:text-lg xl:text-2xl">Mantenimiento de Clases</h1>
  <app-generic-table
  [config]="tableConfig"
  [data]="clases"
  [totalRecords]="totalRecords"
  [loading]="loading"
  (showModalCreate)="onCreateClase($event)"
  (onEdit)="onEditClase($event)"
  (onDelete)="onDeleteClase($event)"
  ></app-generic-table>


  <p-dialog
    [header]="titleDialog"
    [(visible)]="displayDialog"
    [modal]="true"
    [breakpoints]="{ '1199px': '75vw', '575px': '90vw' }"
    [draggable]="true"
    [resizable]="false"
    [maximizable]="true"
  >

  <admin-generic-form
    #formRef
    [formFieldsValues]="selectedClase"
    [formFields]="formFields"
    (onEntity)="updateClase($event)"
    [mode]="mode"
  ></admin-generic-form>

  <ng-template pTemplate="footer">
    <button
      pButton
      type="button"
      label="Cancelar"
      icon="pi pi-times"
      (click)="handleCancel(formRef)"
      class="p-button-text"
    ></button>
    <button
      pButton
      type="button"
      label="Guardar"
      icon="pi pi-check"
      (click)="formRef.submitForm()"
      class="p-button-success"
    ></button>
  </ng-template>


  </p-dialog>

</main>
