
// .card {
//   background: lightgray;
//   border-radius: 10px;
//   margin-bottom: 1rem;
// }

// .p-fluid .field {
//   margin-bottom: 1.5rem;
// }

// Ajustes para la tabla
// .p-table {
//   margin-top: 1rem;

//   th {
//     white-space: nowrap;
//   }
// }

// .p-tag {
//   border-radius: 6px;
//   padding: 0.25rem 0.5rem;
//   font-weight: 700;
//   font-size: 0.85rem;
// }


// .text-center {
//   text-align: center;
// }

// .p-button.p-button-text {
//   &:hover {
//     background-color: rgba(0, 0, 0, 0.04);
//   }

//   &:focus {
//     box-shadow: none;
//   }
// }

.table-cell {
  display: none;
}

:host ::ng-deep {
  .p-inputnumber {
    height: 45px;
  }
}


@media (min-width: 1440px) {
  .table-cell {
    display: table-cell;
  }
}
