
.table-cell {
  display: none;
}

:host ::ng-deep {
  .p-inputnumber {
    height: 45px;
  }

  .p-datatable .p-datatable-tbody td {
    word-break: break-word;
  }
}


.img {
  display: inline-block;
  width: 80px;

  img {
    object-fit: contain;
    width: 100%;
  }
}


@media (min-width: 1440px) {
  .table-cell {
    display: table-cell;
  }
}
