
<div class="grid p-3">
  <div class="col" style="text-align: center;">
    <span class="pi pi-map-marker"></span>
    <h2>Dirección</h2>
    <p>Avenida. Gregorio Gea número 25</p>
  </div>

  <div class="col" style="text-align: center;">
    <span class="pi pi-phone"></span>
    <h2>Contacto</h2>
    <p>Tel: 647890771</p>
  </div>

  <div class="col" style="text-align: center;">
    <span class="pi pi-clock"></span>
    <h2>Horarios</h2>
    <p>Abierto de lunes a viernes: 7:00AM hasta las 00:00AM <br>
      Los sabados y domingos: 9:00AM hasta las 10:00PM</p>
  </div>
</div>

<div class="p-2">
  <iframe src="https://www.google.com/maps/embed?pb=!1m18!1m12!1m3!1d3079.823796294619!2d-0.4191983233958063!3d39.47330921251723!2m3!1f0!2f0!3f0!3m2!1i1024!2i768!4f13.1!3m3!1m2!1s0xd604f9c8fb0c80f%3A0x45ea54288eb3033c!2sAv.%20Gregorio%20Gea%2C%2025%2C%2046920%20Mislata%2C%20Val%C3%A8ncia!5e0!3m2!1ses!2ses!4v1702141874893!5m2!1ses!2ses" width="100%" height="550" style="border:0;" allowfullscreen="" loading="lazy" referrerpolicy="no-referrer-when-downgrade"></iframe>
</div>
