<!-- <div class="p-2"> -->

  <div class="flex flex-column mb-4" id="imagen">
    <div class="opacity">
      <div>
        <h1 class="titulo lg:text-8xl md:text-6xl sm:text-sm p-3">¿Por qué <br> Este gimnasio?</h1>
      </div>
      <div class="contenido">
        <p class="lg:text-xl md:text-lg sm:text-xs text:xs">
          ¡Bienvenido al gimnasio My Gym! Aquí en My Gym, nuestra misión es brindar una experiencia de entrenamiento única y personalizada para cada uno de nuestros miembros. Creemos que cada persona tiene necesidades y objetivos de acondicionamiento físico únicos, y es por eso que nuestro enfoque se centra en proporcionar un ambiente acogedor y amigable, donde nuestros entrenadores altamente capacitados trabajan con usted para crear un plan de entrenamiento personalizado para ayudarlo a alcanzar sus objetivos.
        </p>
      </div>
    </div>
  </div>

  <p-divider></p-divider>

  <div class="grid justify-content-center">
    <div class="lg:col-5 md:col-5 col-11">
      <h1>My Gym</h1>
      <p class="md:text-lg sm:text-sm">My Gym es un gimnasio que se enfoca en proporcionar una experiencia de entrenamiento única y personalizada a sus miembros. Cada persona tiene necesidades y objetivos de acondicionamiento físico únicos, y en My Gym, los entrenadores altamente capacitados trabajan con cada miembro para crear un plan de entrenamiento personalizado que les ayude a alcanzar sus metas.  </p>
      <p class="md:text-lg sm:text-sm">Las instalaciones de My Gym cuentan con equipos de última generación y una amplia selección de programas y clases, desde entrenamiento de fuerza y cardiovascular hasta yoga y meditación. Además, My Gym ofrece servicios de nutrición y asesoramiento para garantizar que los miembros tengan todas las herramientas que necesitan para alcanzar sus objetivos.</p>
      <p class="md:text-lg sm:text-sm">En My Gym, se cree que el bienestar mental y emocional es igual de importante que el entrenamiento físico. Por lo tanto, el ambiente es acogedor y amigable, y la comunidad de miembros es cálida y solidaria. Si está buscando un enfoque integral para el acondicionamiento físico, My Gym es el lugar perfecto. Únase a nuestra comunidad hoy y experimente lo que significa entrenar en My Gym.</p>
    </div>
    <div class=" col-11 lg:col-5 md:col-5 overflow-hidden lg:ml-4">
      <img src="../../../../assets/images/gimnasio_maquinas.jpg" class="w-full" alt="Gimnasio">
    </div>
  </div>

  <p-divider></p-divider>

  <div class="card mt-3 mb-4">
    <h2 style="text-align: center;">EN FORMA A CUALQUIER HORA,
      EN CUALQUIER LUGAR</h2>
    <div class="flex justify-content-center gap-3">
      <div class="xl:w-3 w-full ">
        <img src="../../../../assets/images/chica_ejercicio_casa.jpg" class="w-full" alt="Gimnasio">
      </div>
      <div class="xl:w-3 w-full">
        <p>En My Gym, tienes una variedad de opciones para tu entrenamiento, estés donde estés y en el momento que prefieras. Haz lo que te apasiona, entrena donde más te guste. Esta es la clave para alcanzar el éxito deportivo. Así que elige el lugar que más te convenga para entrenar: ya sea en el gimnasio, en casa o al aire libre, y estaremos encantados de acompañarte en tu viaje hacia tus metas. ¡My Gym está aquí para ayudarte!</p>
      </div>
    </div>
  </div>

  <p-divider></p-divider>

  <div id="extras">
    <h2 class="lg:text-5xl md:text-3xl sm:text-2xl">Extras</h2>
    <div class="grid justify-content-center align-items-center">
      <div class=" col-11 sm:col-10 md:col-3 lg:col-3 ">
        <img src="../../../../assets/images/jugo.jpg" class="w-full" alt="Gimnasio">
        <h3>Bebida Sport Water</h3>
      </div>
      <div class=" col-11 md:col-3 lg:col-3 ">
        <img src="../../../../assets/images/personal_training.jpg" class="w-full" alt="Gimnasio">
        <h3>Personal Training</h3>
      </div>
      <div class=" col-11 md:col-3 lg:col-3  ">
        <img src="../../../../assets/images/clases.jpg" class="w-full" alt="Gimnasio">
        <h3>Reserva de clases</h3>
      </div>
    </div>
  </div>
<!-- </div> -->
